@import url('https://fonts.googleapis.com//css?family=Raleway');
@import url('https://fonts.googleapis.com//css?family=Oswald');

body{
    margin: 0;
    background: url(31.jpg);
    padding: 0;
    height: 100%;
    width: 100%;
}

.intro {
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    background-size: cover;
}
.content .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1{
    font-family: 'Raleway', sans-serif;
    color: lightblue;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
}
.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: darkslategray;
    font-size: 135%;
    padding: 10px 20px;
    border: solid darkslategray 5px;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover{
    color: #fff;
    border: solid #fff 3px;
}