body {
	margin: 0;
	padding: 0;
}
@keyframes slider{
    0%{
        left: 100%:
        
    } 
    20%{
        left:0;   
    }
    25%{
        left:-100%; 
        
    }
    45%{
        left: -100%;
        
    }
    50%{
        left: -200%;
    }
    70%{
    	left: -200%;
    }
    75%{
        left: -300%;
        
    }
    95%{
        left: -300%;
        
    }
    100%{
        left: -400:
        
    }
}
#slider{
    overflow: hidden;
}
#slider figure img{
    float: left;
    width: 100%;
}
#slider figure{
    position: relative;
    width: 100%;
    left: 0;
    margin: 0;
    animation: 10s slider infinite; 
}
.nav {
	position: absolute;
	left: 80%;
	top: 1%;
}
.nav ul {
	list-style: none;
}
.nav ul li {
	list-style: none;
	display: inline-block;
	color: #fff;
	font-family: 'Book Antiqua';
	padding: 10px 50px;

}
.login {
	background: red;
	color: #fff;
	border-radius: 4px;
}

.ppku {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;


}
.ppku h1{
    font-family:'Aharoni';
    color: lightblue;
    font-size: 500%;
}
.btn {
    border-radius: 9px;
    font-family: 'Broadway', sans-serif;
    color: #CD5C5C;
    font-size: 135%;
    padding: 10px 20px;
    border: solid #F08080 5px;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover{
    color: #fff;
    border: solid #fff 3px;
}