    body {
    margin: 0;
	padding: 0;
	background:url(13.png);
	background-size: cover;
	font-family: sans-serif;
    }
    .form {
    width: 320px;
	height: 480px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing:border-box;
	padding: 90px 30px;
    }
    .avatar{
    margin: 0 auto;
    display: block;
	width:100px;
	height: 100px;
	border-radius:50%;
	position: absolute;
	top:-10%;
	left: calc(35%);
    }
    .form input{
	width: 100px;
	margin-bottom:20px; 
    }
    .form input[type="text"], 
    .form input[type="password"] {   
	border:none;
	border-bottom: 2px solid #262626;
	background: transparent;
	outline: none;
	height: 40px;
	width: 100%;
	color: #fff;
	font-size: 16px;
    padding-left:20px;
    box-sizing: border-box;    
    }
    .inputBox {
    position: relative;
    }
    .inputBox span {
    position: absolute;
    top: 10px;
    color: cyan;
    }
    .form input[type="submit"] {
	border:none;
	outline:none;
	height: :40px;
	background:green;
	color:#fff;
	font-size:16pt;
	border-radius: 20px; 
    width: 40%;
    }
    .form input[type="submit"]:hover {
	cursor:pointer;
	background:#ffc107;
	color:#000; 
    }
    .form a {
	text-decoration: none;
	font-size: 14px;
    font-weight: bold;
	line-height: 20px;
	color: darkgray;
    text-align: center;
    display: block;
    }
    .form a:hover{
	color:#ffc107;
    }
    .welcome {
    margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 20pt;
    font-family: sans-serif;
    }